.floating-field {
	-fx-font-family: "Roboto";
	-fx-font-weight: 400;
	-fx-font-size: 12px;
	-fx-empty-font-family: "Roboto";
	-fx-empty-font-weight: 400;
	-fx-empty-font-size: 16px;
	-fx-text-fill: -md-sys-color-on-surface;
}

.floating-field > .layout {
	-fx-border-color: -md-sys-color-outline;
	-fx-border-radius: 10px;
	-fx-padding: 8px 12px 8px 12px;
}

.floating-field > .layout > .label {
	-fx-font-family: "Roboto";
	-fx-font-weight: 400;
	-fx-font-size: 12px;
	-fx-text-fill: -md-sys-color-on-surface;
}

.floating-field:empty > .layout > .label {
	-fx-font-size: 16px;
}

.floating-field:focus-within > .layout {
	-fx-border-color: -md-sys-color-primary;
	-fx-border-width: 2px;
	-fx-border-insets: -1px;
}

.floating-field:focus-within > .layout > .label {
	-fx-text-fill: -md-sys-color-primary;
}

.floating-field:error > .layout {
	-fx-border-color: -md-sys-color-error;
}

.floating-field:error > .layout > .label {
	-fx-text-fill: -md-sys-color-error;
}